<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.zhiyicx.thinksnsplus">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".base.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_256"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TSTheme">
        <activity
            android:name=".modules.guide.GuideActivity"
            android:theme="@style/BackGroundLauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".modules.register.RegisterActivity">
        </activity>
        <activity
            android:name=".modules.home.HomeActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".modules.settings.SettingsActivity">
        </activity>
        <activity android:name=".modules.password.changepassword.ChangePasswordActivity">
        </activity>
        <activity android:name=".modules.password.findpassword.FindPasswordActivity">
        </activity>
        <activity
            android:name=".modules.login.LoginActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".modules.chat.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>
        <activity android:name=".modules.settings.aboutus.AboutUsActivity">
        </activity>
        <activity android:name=".modules.edit_userinfo.UserInfoActivity">
        </activity>
        <activity android:name=".modules.home.message.messagecomment.MessageCommentActivity">
        </activity>
        <activity android:name=".modules.home.message.messagelike.MessageLikeActivity">
        </activity>
        <activity android:name=".modules.crop.CropActivity">
        </activity>
        <activity android:name=".modules.photopicker.PhotoAlbumListActivity">
        </activity>
        <activity android:name=".modules.photopicker.PhotoAlbumDetailsActivity">
        </activity>
        <activity android:name=".modules.photopicker.PhotoViewActivity">
        </activity>
        <activity
            android:name=".modules.gallery.GalleryActivity"
            android:theme="@style/FullScreenTheme">
        </activity>
        <activity android:name=".modules.music_fm.music_album.MusicListActivity"/>
        <activity android:name=".modules.follow_fans.FollowFansListActivity">
        </activity>
        <activity android:name=".modules.music_fm.music_album_detail.MusicDetailActivity"/>
        <activity android:name=".modules.music_fm.music_play.MusicPlayActivity"/>
        <activity android:name=".modules.information.infomain.InfoActivity"/>
        <activity android:name=".modules.information.infodetails.InfoDetailsActivity"/>
        <activity
            android:name=".modules.information.infochannel.ChannelActivity"
            android:theme="@style/activity_topin_bottomout"/>
        <activity android:name=".modules.information.infosearch.SearchActivity"/>
        <activity android:name=".modules.dynamic.send.SendDynamicActivity">
        </activity>

        <service
            android:name=".modules.music_fm.music_play.MusicPlayService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <!-- #########################################      IM 相关       ################################ -->
        <service android:name="com.zhiyicx.imsdk.service.SocketService"/>
        <!-- 网络监听广播 -->
        <receiver
            android:name="com.zhiyicx.imsdk.receiver.NetChangeReceiver"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                // 网络切换
                <action android:name="android.intent.action.USER_PRESENT"/>
                // 例如锁屏被唤醒
            </intent-filter>
        </receiver>

        <!-- #########################################      后台任务相关service       ################################ -->
        <service android:name=".service.backgroundtask.BackgroundTaskHandleService"/>
        <!-- <meta-data -->
        <!-- android:name="com.zhiyicx.thinksnsplus.config.GlideConfiguration" -->
        <!-- android:value="GlideModule"/> -->

        <activity
            android:name=".modules.dynamic.detail.DynamicDetailActivity"
            android:windowSoftInputMode="adjustResize"
            >
        </activity>
        <activity android:name=".modules.dynamic.detail.dig_list.DigListActivity">
        </activity>
        <activity
            android:name=".modules.personal_center.PersonalCenterActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
    </application>

</manifest>