<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zhiyicx.thinksnsplus">

    <application
        android:name=".base.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TSTheme">
        <activity
            android:name=".modules.guide.GuideActivity"
            android:theme="@style/BackGroundLauncherTheme">
        </activity>
        <activity android:name=".modules.register.RegisterActivity">
        </activity>
        <activity
            android:name=".modules.home.HomeActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".modules.settings.SettingsActivity">
        </activity>
        <activity android:name=".modules.password.changepassword.ChangePasswordActivity">
        </activity>
        <activity android:name=".modules.password.findpassword.FindPasswordActivity">
        </activity>
        <activity android:name=".modules.login.LoginActivity">
        </activity>
        <activity android:name=".modules.chat.ChatActivity">
        </activity>
        <activity android:name=".modules.settings.aboutus.AboutUsActivity">
        </activity>
        <activity android:name=".modules.edit_userinfo.UserInfoActivity">
        </activity>
        <activity android:name=".modules.home.message.messagecomment.MessageCommentActivity">
        </activity>
        <activity android:name=".modules.home.message.messagelike.MessageLikeActivity">
        </activity>
    </application>
</manifest>