<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.zhiyicx.thinksnsplus">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- allowBackup =true  用于 adb backup 与 adb restore;发布后需要关闭，保证数据安全  android:persistent="true" 应用保持活与自启动 -->
    <application
        android:name=".base.AppApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/TSTheme"
        tools:replace="android:allowBackup">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.ThinkSNSFileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource"/>
        </provider>

        <activity
            android:name=".modules.guide.GuideActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BackGroundLauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.usertag.EditUserTagActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.register.RegisterActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".modules.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>
        <activity
            android:name=".modules.settings.SettingsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.password.changepassword.ChangePasswordActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.settings.account.AccountManagementActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.settings.bind.AccountBindActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.settings.init_password.InitPasswordActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.password.findpassword.FindPasswordActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.login.LoginActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="zhiyicx.intent.action.LOGIN"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <!-- 第三方登陆相关 -->
        <activity
            android:name=".modules.third_platform.choose_bind.ChooseBindActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.third_platform.bind.BindOldAccountActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.third_platform.complete.CompleteAccountActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".modules.chat.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>
        <activity
            android:name=".modules.system_conversation.SystemConversationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>
        <activity
            android:name=".modules.settings.aboutus.CustomWEBActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.edit_userinfo.UserInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>
        <activity
            android:name=".modules.edit_userinfo.location.search.LocationSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".modules.edit_userinfo.location.LocationRecommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".modules.home.message.messagecomment.MessageCommentActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.home.message.messagelike.MessageLikeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.crop.CropActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.photopicker.PhotoAlbumListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.photopicker.PhotoAlbumDetailsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.photopicker.PhotoViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransParentTheme">
        </activity>

        <!-- 低配手机用不起硬件加速 比如 HUAWEI Che1-CL10 Android 6.0.1 API 23 -->
        <activity
            android:name=".modules.gallery.GalleryActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/GalleryTheme">
        </activity>
        <activity
            android:name=".modules.music_fm.music_album_list.MusicListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.follow_fans.FollowFansListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.music_fm.music_album_detail.MusicDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.music_fm.music_play.MusicPlayActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.information.infomain.InfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.information.infodetails.InfoDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.information.dig.InfoDigListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.information.infochannel.ChannelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_topin_bottomout"/>
        <activity
            android:name=".modules.information.infosearch.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.dynamic.send.SendDynamicActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".modules.wallet.WalletActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.wallet.rule.WalletRuleActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.dynamic.detail.DynamicDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".modules.dynamic.detail.dig_list.DigListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.personal_center.PersonalCenterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <!-- 查看头像页 -->
        <activity
            android:name=".modules.personal_center.portrait.HeadPortraitViewActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".modules.music_fm.music_comment.MusicCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".modules.wallet.recharge.RechargeActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>

        <!-- 圈子相关页面 -->
        <activity
            android:name=".modules.circle.group_dynamic.GroupDynamicDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".modules.circle.group_dynamic.dig_list.GroupDigListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".modules.circle.mine.MyGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <!-- 问答相关 -->
        <activity
            android:name=".modules.q_a.qa_main.qa_container.QA_InfoContainerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <!-- 硬件加速用于mx3 自定义输入控件绘制卡顿 -->
        <activity
            android:name=".modules.q_a.publish.question.PublishQuestionActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".modules.q_a.publish.add_topic.AddTopicActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".modules.q_a.reward.QARewardActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".modules.q_a.reward.expert_search.ExpertSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".modules.q_a.detail.topic.TopicDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".modules.q_a.detail.question.QuestionDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name=".modules.q_a.detail.question.comment.QuestionCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".modules.q_a.mine.container.MyQuestionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <!-- 认证相关页面 -->
        <activity
            android:name=".modules.certification.input.CertificationInputActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".modules.certification.send.SendCertificationActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".modules.certification.detail.CertificationDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <!-- 排行榜相关页面 -->
        <activity
            android:name=".modules.rank.main.container.RankIndexActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".modules.rank.type_list.RankTypeListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <service
            android:name=".modules.music_fm.music_play.MusicPlayService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <!-- #########################################      IM 相关       ################################ -->
        <service android:name="com.zhiyicx.imsdk.service.SocketService"/>
        <!-- 网络监听广播 -->
        <receiver
            android:name="com.zhiyicx.imsdk.receiver.NetChangeReceiver"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                // 网络切换
                <action android:name="android.intent.action.USER_PRESENT"/>
                // 例如锁屏被唤醒
            </intent-filter>
        </receiver>
        <!-- 极光推送 -->
        <receiver
            android:name=".jpush.JpushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <!-- #########################################      后台任务相关service       ################################ -->
        <service android:name=".service.backgroundtask.BackgroundTaskHandleService"/>

        <!-- 新浪分享 -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- 微信分享结果类 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- Ping++ 支付SDK -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <!-- 微信支付结果类 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>

        <!-- 频道 -->
        <activity
            android:name=".modules.circle.list.ChannelListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.circle.detail.ChannelDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.collect.CollectListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.dynamic.topdynamic.DynamicTopActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.wallet.withdrawals.WithdrawalsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.wallet.withdrawals.list_detail.WithdrawalsDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.wallet.bill_detail.BillDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.dynamic.send.dynamic_type.SelectDynamicTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DynamciSelectTheme"/>
        <activity
            android:name=".modules.dynamic.send.picture_toll.PictureTollActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.dynamic.tollcomment.DynamicCommentTollActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.dynamic.topdynamic_comment.DynamicCommentTopActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.wallet.bill.BillActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.feedback.FeedBackActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.home.message.messagereview.MessageReviewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.q_a.QA_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.q_a.search.container.QASearchContainerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".modules.q_a.publish.detail.PublishContentActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".modules.wallet.reward.RewardActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.wallet.reward.list.RewardListActivity"
            android:screenOrientation="portrait"/>
        <!-- 资讯发布 -->
        <activity
            android:name=".modules.information.publish.PublishInfoActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.information.publish.addinfo.AddInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".modules.information.publish.addinfo.AddInfoCategoryActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.information.publish.uploadcover.UploadCoverActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.wallet.sticktop.StickTopActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.q_a.answer.PublishAnswerActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity
            android:name=".modules.q_a.detail.answer.AnswerDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!-- 找人 -->
        <activity
            android:name=".modules.findsomeone.contianer.FindSomeOneContainerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.findsomeone.search.name.SearchSomeOneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.findsomeone.contacts.ContactsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.q_a.detail.answer.dig_list.AnswerDigListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.information.my_info.ManuscriptsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity
            android:name=".modules.music_fm.paided_music.MyMusicActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.draftbox.DraftBoxActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.q_a.publish.create_topic.CreateTopicActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.register.rule.UserRuleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.circle.main.CircleMainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.circle.detailv2.CircleDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity
            android:name=".modules.circle.create.CreateCircleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.circle.all_circle.container.AllCircleContainerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.circle.mine.container.MyCircleContainerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.circle.create.types.CircleTyepsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.circle.create.location.CircleLocationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.circle.detailv2.post.CirclePostDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.circle.mine.joined.MyJoinedCircleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.circle.detailv2.dig.DigListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.circle.search.container.CircleSearchContainerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".modules.circle.manager.members.MembersListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.report.ReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible"/>
        <activity
            android:name=".modules.circle.manager.earning.CircleEarningActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.circle.manager.report.ReportReviewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.circle.manager.earning.record.EarningListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.circle.search.onlypost.CirclePostSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity
            android:name=".modules.circle.manager.permission.PermissionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.circle.publish.choose_circle.ChooseCircleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.circle.manager.members.attorn.AttornCircleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".modules.circle.publish.PublishPostActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".modules.circle.create.rule.RuleForCreateCircleActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".modules.circle.manager.members.blacklist.BlackListActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".modules.information.publish.news.PublishInfoActivityV2"/>
    </application>

</manifest>